* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Overpass', sans-serif;
  background-color: hsl(216, 12%, 8%);
}

.generalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 31vw;
  height: 31vw;
  margin: auto;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: rgb(33, 40, 50);
  border-radius: 30px;
}

.generalBox img {
  margin: auto;
}